@()

@import helper._
@import helper.twitterBootstrap._

@main("SlideShow") {
    <script src="@routes.Assets.at("javascripts/slideshow.js")" type="text/javascript"></script>
    <a href="/slides/" class="btn btn-primary">Edit</a>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3"></div>
            <div class="span6">
                <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                <div class="row-fluid">
                    <div class="span5">
                    </div>
                </div>
            </div>
        </div>
    </div>
}